#resume .firstslide{
	
	background-color:#f2f2f2;
	column-count:2;
	column-gap:30px;
	column-position:center;
	column-rule-width:1px;
	column-rule-style:solid;
	column-rule-color:#ff751a;
	
	padding-top:40px;
    padding-right:30px;
    padding-bottom:50px;
	padding-left:30px;
	
	
	width:100%;
	
	
}

#resume h3{
	
	color:red;font-size:18px;
	
}

#resume h4{
	
	font-weight:600;color:black;
}

#resume .second h3{
	
	color:red;font-size:18px;
	
}

#resume .second h4{
	
	font-weight:600;color:black;
}

#resume .second ul{
	
	color:black;
}


#resume .secondslide{
	
	background-color:#f2f2f2;
	column-count:2;
	column-gap:20px;
	column-position:relative;
	column-rule-width:1px;
	column-rule-style:solid;
	column-rule-color:#ff751a;
	padding-bottom:50px;
	padding-top:40px;
	margin-left:10px;
	margin-right:10px;	
}